// colors
$white: #FFFFFF;
$black: #000000;
$blackAlt: rgba(0, 0, 0, 0.5);
$primaryGrey: #3E3E3E;
$lightGrey: #C4C4C4;
$lightGreyAlt: #9E9E9E;
$lightGreyAlt2: #A5A5A5;
$primaryGreyAlt: rgba(62, 62, 62, 0.7);
$primaryGreyAlt2: rgba(62, 62, 62, 0.5);
$themeBlue: #2A5FCB;
$themeBlueAlt: rgba(42, 95, 203, 0.15);
$themeOrange: #FC5426;
$themeGreen: #27AE60;

// shadows
$shadow1: 0px 0px 30px rgba(238, 238, 238, 0.5);
$shadow2: 0px 4px 40px rgba(0, 0, 0, 0.1);
// fonts
$themeFont: 'Montserrat', sans-serif;

//
$menuWidth: 260px;