// colors
$white: #ffffff;
$black: #000000;
$blackAlt: rgba(0, 0, 0, 0.5);
$primaryGrey: #3e3e3e;
$lightGrey: #c4c4c4;
$lightGreyAlt: #9e9e9e;
$lightGreyAlt2: #a5a5a5;
$primaryGreyAlt: rgba(62, 62, 62, 0.7);
$primaryGreyAlt2: rgba(62, 62, 62, 0.5);
$themeBlue: #2a5fcb;
$themeBlueAlt: rgba(42, 95, 203, 0.15);
$themeOrange: #fc5426;
$themeGreen: #27ae60;

// shadows
$shadow1: 0px 0px 30px rgba(238, 238, 238, 0.5);
$shadow2: 0px 4px 40px rgba(0, 0, 0, 0.1);
// fonts
$themeFont: "Montserrat", sans-serif;

//
$menuWidth: 260px;
