$white: #FFFFFF;
$blackAlt: rgba(0, 0, 0, 0.5);
$primaryGrey: #3E3E3E;
$lightGrey: #C4C4C4;
$lightGreyAlt: #9E9E9E;
$themeBlue: #2A5FCB;
$themeBlueAlt: rgba(42, 95, 203, 0.15);
$themeOrange: #FC5426;
$themeGreen: #27AE60;